<!DOCTYPE html>
<html lang="en">
<head>
   <title>Brinz web</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" type="image/x-icon" href="javax.faces.resource/images/thumbs/coins.png" />
   
   <base href="./"></base>
   
   <!-- Load styles here -->
   <link rel="stylesheet" type="text/css" href="res/css/plugin.css">
   <link rel="stylesheet" type="text/css" href="res/css/custom.css">
   
</head>

<body>
   <div class="container-fluid">
     <view-port></view-port>
   </div>  
    <!-- Load scripts here -->
    <script type="text/javascript" src="res/js/plugin.js"></script>
    <script type="text/javascript" src="res/js/custom.js"></script>
</body>

</html>