<html>

<head>
   <title>Brinz web</title>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="icon" type="image/x-icon" href="javax.faces.resource/images/thumbs/coins.png" />
   
   <!-- Load styles here -->
   <link rel="style" href="css/plugin.css" />
   <link rel="style" href="css/custom.css" />
   
   <base href="./"></base>
</head>

<body>

    <view-port></view-port>
    <!-- Load scripts here -->
    <script type="text/javascript" src="js/plugin.js" />
    <script type="text/javascript" src="js/custom.js" />
	
</body>

</html>